* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 0.1px;
}



nav {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-top: 19.9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-family: "Monument Extended Bold";
  height: 100%;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3vw;
  letter-spacing: -0.1vw;
}

nav h2 {
  font-family: "Lexend", sans-serif;
  border-right: 2px solid black;
  height: 100%;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.14vw;
  font-weight: 400;
}

nav h2:nth-last-child(1) {
  border: none;
  width: 18%;
}

main .center {
  height: 90%;
  position: relative;
  width: 100%;
  padding: 50px;
}

main .center .content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  padding: 2px;
}

main .center .content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

main .center .content .overlay {
  height: 40%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
}

main .center .content .overlay .over1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .center .content .overlay .over1 h1 {
  font-family: "Monument Extended Bold";
  font-size: 2.3vw;
  color: white;
}

main .center .content .overlay .over1 h2 {
  font-family: "Lexend", sans-serif;
  border: 1px solid white;
  padding: 1vw 1.4vw;
  border-radius: 50%;
  font-size: 1.14vw;
  color: white;
}

main .center .content .overlay .over2 {
  margin-top: 15px;
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

main .center .content .overlay .over2 h3 {
  font-family: "Lexend", sans-serif;
  font-size: 1.14vw;
  color: white;
  font-weight: 300;
}

main .center .content .overlay .over2 img {
  height: 2.2vw;
  object-fit: cover;
  object-position: center;
}

.logos{
  overflow: hidden;
  height: 30%;
  width: 100%;
  padding: 25px 20px;
  white-space: nowrap;
}

.logo-slide{
  display: inline-block;
  white-space: nowrap;
  animation: slide 15s infinite linear;
  
}

.logos .logo-slide img{
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top; 
  margin: 0 20px;
 

}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.alphabet{
  height: 8vh;
  width: 100%;
  margin-top: 10px;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  gap: 10px;
}

.alphabet h4{
  font-family: "Lexend", sans-serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 300;
  text-decoration: underline;
  margin-right: 15px;
}

.alphabet h5{
  font-family: "Lexend", sans-serif;
  font-size: 0.9vw;
  font-weight: 800;
  height: 1.5vw;
  width: 1.5vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  letter-spacing: 5px;
  font-style: italic;  
  font-weight: 300;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.alphabet h5:hover{
  background-color: black;
  color: white;
}


.page2{
  height: 100%;
  width: 100%;
  padding: 60px 90px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.page2 .pt1{
  height: 100%;
  width: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('pt1.avif');
  background-size: cover;
  background-position: center top;
}

.page2 .pt2{
  height: 100%;
  width: 44%;
}

.page2 .pt2 img{
  height: 75%;
  width: 100%;
  object-fit: cover;
  object-position: 0 10%;
}
